<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">Industrie</th>
            <th scope="col">Nombre employes</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>DELL Technologies</td>
            <td>Logiciels informatiques, cloud computing</td>
            <td>133.000</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Accenture</td>
            <td>Stratégie, conseil, technologie et opérations.</td>
            <td>624.000</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>TD Synnex</td>
            <td>Technologie, logiciels, conseil informatique.</td>
            <td>270.000</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>IBM</td>
            <td>Cloud computing, IA, logiciels informatiques</td>
            <td>307.600</td>  
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>HP Entreprise</td>
            <td>Logiciels informatiques, cloud computing, IoT, IA, stockage et services de données, réseaux informatiques, blockchain.</td>
            <td>51.000</td>  
          </tr>
        </tbody>
      </table>
    
</div>
